  @import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200;300;400;500;600&family=Baloo+Da+2:wght@400;500;600&family=Barlow:wght@200;500&family=Chakra+Petch:wght@600&family=Concert+One&family=Dosis:wght@400;500;600;700&family=Gugi&family=Inter:wght@100;200;300&family=Karla:wght@200;300;400;500;600;700&family=Lato:wght@100;300;400&family=Lobster+Two:ital@0;1&family=Manrope&family=Open+Sans:wght@300;400;600&family=PT+Sans:wght@400;700&family=Permanent+Marker&family=Poppins:wght@300;400;500;600;700;800;900&family=Press+Start+2P&family=Recursive:wght@300;400;500&family=Roboto:wght@300;400&family=Rubik:wght@300;400;500&family=Sono:wght@200;400&family=Space+Grotesk:wght@300;400;500;600;700&family=Staatliches&family=Titillium+Web:wght@200;300;400;600;700;900&family=Tomorrow:wght@200;300;400;500;600;700&family=Work+Sans:wght@300&family=Yeseva+One&display=swap');

  * {
    font-family: 'Work Sans';
  }

  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer components {
    .link {
      @apply hover:underline cursor-pointer;
    }
  }